html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
}

.sub-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    cursor: pointer;
    background-color: blue;
    border: none;
    width: 80%;
    height: 10%;
    border-radius: 50px;
    margin: 15px;
    font-size: 40px;
    text-align: center;
    vertical-align: center;
}

.main-btn-div {
    width: 50%;
}
