<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>

    <link rel="stylesheet" href="main.css">
</head>

<body>
<div class="container">
    <div class="sub-contener">
        <img src="ikona.png" alt="QUIZER" width="600" height="600">
    </div>
    <div class="sub-contener">
        <a class="button" th:href="@{/newSerwisant}"><button class="button">Zarejestruj nowego serwisanta</button></a>
    </div>
</div>


</body>
</html>
