<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>

    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>

<body>
<div class="container">

    <div class="sub-container">
        <h1>Silesian Bike Service</h1>
        <img src="ikona.png" width="600" height="600">
    </div>
    <div class="sub-container1">
        <h1><a th:href="@{/register}"  class="btn btn-outline-primary btn-lg mt-5">Zarejestruj się</a></h1>
        <h2><a th:href="@{/login}"  class="btn btn-outline-primary btn-lg mt-5">Zaloguj się</a></h2>
    </div>
</div>


</body>
</html>
