<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie nowego serwisanta</title>
</head>
<body>
<form th:action="@{/add-serwisant}" th:object="${newSerwisant}" method="post">
    <p>First name: <input type="text" th:field="*{firstName}"></p>
    <p>Last name: <input type="text" th:field="*{lastName}"></p>
    <p>Login: <input type="text" th:field="*{login}"></p>
    <p>Password: <input type="text" th:field="*{password}"></p>
    <p><input type="submit" value="zarejestruj"></p>
</form>
</body>
</html>
