<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie nowego serwisanta</title>
</head>
<body>
<form th:action="@{/add-serwisant}" th:object="${newSerwisant}" method="post">
    <p>Imię: <input type="text" th:field="*{imie}"></p>
    <p>Nazwisko: <input type="text" th:field="*{nazwisko}"></p>
    <p>Login: <input type="text" th:field="*{login}"></p>
    <p>Hasło: <input type="text" th:field="*{haslo}"></p>
    <p><input type="submit" value="Zarejestruj"></p>
</form>
</body>
</html>
