<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nieudana rejestracja</title>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container text-center">
    <div>
        <h3>User already exists!</h3>
        <h4><a th:href="@{/register}">Click here to sign up!</a></h4>
    </div>
</div>
</body>
</html>
