<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Rejestracja</title>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container text-center">
    <div>
        <h1>Rejestracja serwisanta</h1>
    </div>
    <form th:action="@{/process_register}" th:object="${serwisant}" method="post"
          style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-form-label col-4">Hasło</label>
                <div class="col-8">
                    <input type="password" class="form-control" th:field="*{haslo}" required
                           minlength="6" maxlength="10">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-4">Imię</label>
                <div class="col-8">
                    <input type="text" class="form-control" th:field="*{imie}" required
                           minlength="2" maxlength="20">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-4">Nazwisko</label>
                <div class="col-8">
                    <input type="text" class="form-control" th:field="*{nazwisko}" required
                           minlength="2" maxlength="20">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-4">Zaloguj się</label>
                <div class="col-8">
                    <input type="text" class="form-control" th:field="*{login}" required
                           minlength="2" maxlength="20">
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Zarejestruj się</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
