<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pomyślna rejestracja</title>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container text-center">
    <div class="sub-contener">
        <h1>Silesian Bike Service</h1>
        <img src="ikona.png" width="600" height="600">
    </div>
    <div>
        <h3>Zarejestrowałeś się pomyślnie!</h3>
        <h4><a th:href="@{/login}">Naciśnij, aby się zalogować</a></h4>
    </div>
</div>
</body>
</html>
